.input-component-block{
    position: fixed;
    left: 120px;
    right: 0;
    top: 2vh;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-component {
    background: linear-gradient(30deg, white 4%, grey 120%);
    width: 60vh;
    padding: 10px 10px;
}

.addtaskbox {
    background: linear-gradient(185deg, rgb(14, 155, 183) 5%, grey 130%);
    border: 3px solid rgb(142, 131, 131);
    position: fixed;
    left: 79vh;
    right: 66vh;
    top: 12vh;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translateY(-20px);
    transition: opacity 1s ease, transform 0.5s ease;
}

.title {
    position: fixed;
    left: 0;
    right: 0;
    top: 0.8vh;
    height: -90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.component-title {
    width: 69.5vh;
    padding: 13px 20px;
    border: 3px solid rgb(94, 87, 87);
}

.input-description {
    position: fixed;
    left: 10px;
    right: 10px;
    top: 8vh;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    word-wrap: break-word;
    border: 3px solid rgb(93, 91, 91);
}

.component-description {
    width: 100vh;
    height: 50vh;
    padding: 10px 18px;
}

.input-component-button {
    font-weight: 600;
    margin-left: 12px;
    padding: 6px 35px;
    border: 2px solid rgb(127, 124, 124);
    border-radius: 5px;
    background-color: rgb(47, 160, 183);
}

.input-component-button:hover {
    background-color: grey;
}

.finish-button {
    position: fixed;
    width: 13%;
    top: 20vh;
    justify-content: centre;
    padding: 5px 8px;
    border: 3px solid rgb(42, 145, 166);
    border-radius: 5px;
    font-weight: 500;
}

.finish-button:hover {
    background: grey;
}

.task {
    height: 58%;
    width: 60%;
    position: fixed;
    top: 40vh;
    left: 45vh;
    right: 0;
    overflow: auto;
    display: flex;
    flex-direction: row;
    align-items: auto;
    flex-wrap: wrap;
}

.Inc-task {
    width: 15%;
    left: 168vh;
    position: fixed;
    top: 14vh;
    right: 0;
    overflow: visible;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.task-box {
    background: linear-gradient(170deg, rgb(11, 132, 156) 5%, grey 130%);
    width: 20vh;
    height: 20vh;
    display: flex;
    flex: row;
    margin: 10px 20px;
    border: 3px solid rgb(164, 158, 158);
    border-radius: 0px;
    box-shadow: 0 0 6px #0ef;
}

.task-box:hover {
    background: linear-gradient(120deg, rgb(189, 183, 183) 4%, rgb(113, 108, 108) 90%);
}

.Inc-task-box {
    background: linear-gradient(130deg, grey 4%, white 90%);
    width: 35vh;
    height: 6vh;
    display: flex;
    flex: row;
    border: 3px solid black;
    border-radius: 2px;
    margin-left: 76%;
    margin-top: 1vh;
}

.Inc-task-box:hover {
    background: rgb(215, 131, 67);
}

.edittask-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8); // Adjust the opacity as needed
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; // Ensure it's above other content
}

.edittask-box {
    background: linear-gradient(170deg, rgb(8, 140, 160) 3%, #081b29 150%);
    width: 60vh;
    height: 40vh;
    margin: 0 auto;
    border: 2px solid rgb(22, 189, 201);
    border-radius: 2px;
    position: fixed;
    top: 50%;
    left: 53%;
    transform: translate(-50%, -50%);
    overflow: visible;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.editt {
    position: fixed;
    top: 18px;
    font-weight: 700;
    font-size: large;
    color: rgb(255, 255, 255);
    left: 32px;
}

.editd {
    position: fixed;
    font-size: large;
    top: 130px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    left: 32px;
}

.updated-input {
    background: rgb(255, 241, 241);
    position: fixed;
    margin: 10px;
    color: rgb(59, 55, 55);
    font-weight: 600;
    margin-top: 50px;
    width: 90%;
    text-align: center;
    height: 60px;
    border: 2.3px solid rgb(13, 94, 100);
    border-radius: 5px;
}

.updated-inputDesc {
    position: fixed;
    margin: 20px;
    margin-top: 165px;
    width: 90%;
    text-align: center;
    height: 120px;
    color: rgb(60, 57, 57);
    font-weight: 600;
    font-size: medium;
    background: rgb(255, 248, 248);
    border: 2.3px solid rgb(13, 94, 100);
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    word-wrap: break-word;
}

.Sedittask-button {
    width: 80px;
    background: white;
    color: #081b29;
    font-weight: 700;
    height: 30px;
    position: fixed;
    text-align: center;
    margin-right: 11vh;
    margin-top: 35vh;
    border: 1px solid rgb(118, 118, 118);
    border-radius: 15px;
}

.Sedittask-button:hover {
    background: #0ef;
}

.edittask-button {
    width: 80px;
    text-align: center;
    position: fixed;
    background: white;
    font-weight: 700;
    height: 30px;
    margin-right: -9vh;
    margin-top: 35vh;
    border: 1px solid rgb(118, 118, 118);
    border-radius: 15px;
}

.edittask-button:hover {
    background: #0ef;
}

.task-title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 13px;
    position: fixed;
    font-weight: 950;
    color:black;
    margin-top: 12px;
    width: 18vh;
    height: 13vh;
    margin-left: 7px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    word-wrap: break-word;
}

.task-content {
    font-size: 18px;
    color: #fff;
    position: fixed;
    margin-top: -30px;
    width: 30vh;
    margin-left: 4px;
    margin-bottom: 10px;
}

.task-button1 {
    background: #081b29;
    font-size: 13px;
    color: white;
    width: 85px;
    position: fixed;
    height: 27px;
    margin: 152px 30px 10px 6px;
    border: 1px solid rgb(118, 118, 118);
    border-radius: 15px;
}

.task-button1:hover {
    color: rgb(0, 255, 251);
}

.task-button2 {
    position: fixed;
    height: 1px;
    margin: 150px 30px 0px 137px;
    border: 1px solid rgb(118, 118, 118);
    border-radius: 5px;
}

.task-button2:hover {
    color: rgb(0, 255, 251);
}

.task-button3 {
    position: fixed;
    height: 3px;
    margin: 150px 10px 0px 163px;
    border: 1px solid rgb(118, 118, 118);
    border-radius: 5px;
}

.task-button3:hover {
    color: rgb(0, 255, 251);
}

.Inc-task-button {
    font-size: 14px;
    color: white;
    background: #081b29;
    position: fixed;
    width: 100px;
    height: 28px;
    margin: 15px 1px;
    margin-top: 14px;
    margin-left: 167px;
    border-radius: 15px;
}

.Inc-task-button:hover {
    background: rgb(120, 115, 115);
}

.Inc-del-button {
    font-size: 22px;
    position: fixed;
    height: 1px;
    margin-top: 11px;
    margin-left: 290px;
}

.Inc-del-button:hover {
    color: rgb(120, 115, 115);
}

.etask-title {
    font-size: 18px;
    font-weight: 700;
    margin-top: 16px;
    width: 30%;
    margin-left: 10px;
    position: fixed;
}